Source: simplerpl
Section: net
Priority: optional
Maintainer: soburi <soburi@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/tcheneau/simpleRPL
X-Python-Version: >= 2.6
#Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/simplerpl.git
#Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/simplerpl.git/
#Testsuite: autopkgtest-pkg-python

Package: simplerpl
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Linux-based implementation of RPL
 SimpleRPL is Linux-based implementation of the Routing Protocol
 for Low-Power and Lossy Networks (RPL) as defined in RFC 6550.
 It aims to complete the Linux Wireless Sensor Network ecosystem by bringing
 a (hopefully) fully-compliant RPL implementation.
 .
 This package installs the library for Python 2.
